{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rice Yield Prediction">
    <meta name="author" content="Tony Stark">
    <title>Rice Yield</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
        * {
            text-rendering: optimizeLegibility;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        span,
        a {
            cursor: pointer;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Rice Yield</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" id="1" aria-current="page" onclick="changeToDiv(1);">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn-link nav-link" id="2" onclick="changeToDiv(2);">
                                <span data-feather="bar-chart-2"></span>
                                SVR Model
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn-link nav-link" id="3" onclick="changeToDiv(3)">
                                <span data-feather="database"></span>
                                Decision Tree
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn-link nav-link" id="4" onclick="changeToDiv(4);">
                                <span data-feather="pie-chart"></span>
                                Random Forest
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn-link nav-link" id="5" onclick="changeToDiv(5);">
                                <span data-feather="bar-chart-2"></span>
                                Multiple Linear Regression
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn-link nav-link" id="6" onclick="changeToDiv(6);">
                                <span data-feather="database"></span>
                                Ridge Linear Regression
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn-link nav-link" id="7" onclick="changeToDiv(7);">
                                <span data-feather="pie-chart"></span>
                                Lasso Linear Regression
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn-link nav-link" id="8" onclick="changeToDiv(8);">
                                <span data-feather="log-out"></span>
                                Logout
                            </a>
                        </li>
                    </ul>

                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="link-secondary" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul id="reports" class="nav flex-column mb-2">

                        {% for report in reports %}
                        <li class="nav-item">
                            <a style="float: left;" id="report{{ report.0 }}" class="nav-link ReportList" href="#"
                                onclick="showReport(this);">
                                <span data-feather="file-text"></span>
                                Report {{ report.0 }}
                                <span style="display: none;" data-n="{{ report.1 }}" data-p="{{ report.2 }}"
                                    data-k="{{ report.3 }}" data-rain="{{ report.4 }}" data-area="{{ report.5 }}"
                                    data-pred="{{ report.6 }}"></span>
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </nav>

            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5" id="fill">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Yield Predict</h1>
                </div>
                <form class="form-floating" id="Predict">
                    <div class="row g-1 mb-3">
                        <div class="form-floating col-sm-10">
                            <input type="number" class="form-control" id="Nitrogen" placeholder="Nitrogen" step="any">
                            <label for="Nitrogen">Nitrogen (mg/square feet)</label>
                        </div>
                    </div>
                    <div class="row g-1 mb-3">
                        <div class="form-floating col-sm-10">
                            <input type="number" class="form-control" id="Phosphorus" placeholder="Phosphorus"
                                step="any">
                            <label for="Phosphorus">Phosphorus (mg/square feet)</label>
                        </div>
                    </div>

                    <div class="row g-1 mb-3">
                        <div class="form-floating col-sm-10">
                            <input type="number" class="form-control" id="Pottasium" placeholder="Pottasium" step="any">
                            <label for="Pottasium">Pottasium (mg/square feet)</label>
                        </div>
                    </div>

                    <div class="form-floating mb-3 col-sm-10">
                        <input type="number" class="form-control" id="Rainfall" placeholder="Rainfall" step="any">
                        <label for="Rainfall">Avg. Rainfall</label>
                    </div>
                    <div class="row g-2">
                        <div class="form-floating col-sm-9">
                            <input type="number" class="form-control" id="Area" placeholder="Area" step="any">
                            <label for="Area">Area</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-select form-select-md mb-3" id="A"
                                style="padding-top: 16px; padding-bottom: 16px;" aria-label=".form-select-lg example">
                                <option value="ha" selected>&nbsp;ha&nbsp;</option>
                                <option value="acre">&nbsp;acre&nbsp;</option>
                                <option value="cent">&nbsp;cent&nbsp;</option>
                                <option value="square feet">&nbsp;square feet&nbsp;</option>
                            </select>
                        </div>
                    </div>

                    <button class="btn btn-outline-primary" type="submit" data-bs-target="#offcanvasWithBothOptions"
                        id="pred" aria-controls="offcanvasWithBothOptions">Predict</button>
                    <button class="btn btn-outline-danger" type="button" id="clear"
                        onclick="clearTheForm();">Clear</button>

                </form>
                <div class="toast-container position-fixed p-3 top-50 start-50 translate-middle border-0"
                    style="z-index: 5">
                    <div id="toast" class="toast hide" role="alert" data-bs-autohide="false" aria-live="assertive"
                        aria-atomic="true">
                        <div class="toast-header">
                            <img src="{% static 'img/error.svg'  %}" class="rounded me-2" alt="...">
                            <strong class="me-auto">Warning</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div id="ToastBody" class="toast-body">
                            Please fill all the fields.
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="display: none;" id="svr">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">SVR Model</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" id="svr0" class="btn btn-sm btn-outline-secondary" disabled
                                onclick="changeGraphVal(0,'SVR')">
                                <span data-feather="chevrons-left"></span>
                                Prev
                            </button>
                            <button type="button" id="svr1" class="btn btn-sm btn-outline-secondary"
                                onclick="changeGraphVal(1,'SVR')">
                                <span data-feather="chevrons-right"></span>
                                Next
                            </button>
                        </div>
                        <span id="num1" class="btn btn-sm">
                            0
                            <span data-feather="arrow-right"></span>
                            100
                        </span>
                    </div>
                </div>

                <canvas class="my-4 w-100" id="SVR" width="900" height="380"></canvas>
            </div>
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="display: none;" id="dtr">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Decision Tree Model</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button " id="dtr0" class="btn btn-sm btn-outline-secondary" disabled
                                onclick="changeGraphVal(0,'DTR')">
                                <span data-feather="chevrons-left"></span>
                                Prev
                            </button>
                            <button type="button" id="dtr1" class="btn btn-sm btn-outline-secondary"
                                onclick="changeGraphVal(1,'DTR')">
                                <span data-feather="chevrons-right"></span>
                                Next
                            </button>
                        </div>
                        <span id="num2" class="btn btn-sm">
                            0
                            <span data-feather="arrow-right"></span>
                            100
                        </span>
                    </div>
                </div>

                <canvas class="my-4 w-100" id="DTR" width="900" height="380"></canvas>
            </div>
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="display: none;" id="rf">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Random Forest Model</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" id="rf0" class="btn btn-sm btn-outline-secondary" disabled
                                onclick="changeGraphVal(0,'RF')">
                                <span data-feather="chevrons-left"></span>
                                Prev
                            </button>
                            <button type="button" id="rf1" class="btn btn-sm btn-outline-secondary"
                                onclick="changeGraphVal(1,'RF')">
                                <span data-feather="chevrons-right"></span>
                                Next
                            </button>
                        </div>
                        <span id="num3" class="btn btn-sm">
                            0
                            <span data-feather="arrow-right"></span>
                            100
                        </span>
                    </div>
                </div>

                <canvas class="my-4 w-100" id="RF" width="900" height="380"></canvas>
            </div>
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="display: none;" id="mlr">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Multiple Linear Regression Model</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" id="mlr0" class="btn btn-sm btn-outline-secondary" disabled
                                onclick="changeGraphVal(0,'MLR')">
                                <span data-feather="chevrons-left"></span>
                                Prev
                            </button>
                            <button type="button" id="mlr1" class="btn btn-sm btn-outline-secondary"
                                onclick="changeGraphVal(1,'MLR')">
                                <span data-feather="chevrons-right"></span>
                                Next
                            </button>
                        </div>
                        <span id="num4" class="btn btn-sm">
                            0
                            <span data-feather="arrow-right"></span>
                            100
                        </span>
                    </div>
                </div>

                <canvas class="my-4 w-100" id="MLR" width="900" height="380"></canvas>
            </div>
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="display: none;" id="rid">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Ridge Linear Regression Model</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" id="rid0" class="btn btn-sm btn-outline-secondary" disabled
                                onclick="changeGraphVal(0,'RID')">
                                <span data-feather="chevrons-left"></span>
                                Prev
                            </button>
                            <button type="button" id="rid1" class="btn btn-sm btn-outline-secondary"
                                onclick="changeGraphVal(1,'RID')">
                                <span data-feather="chevrons-right"></span>
                                Next
                            </button>
                        </div>
                        <span id="num5" class="btn btn-sm">
                            0
                            <span data-feather="arrow-right"></span>
                            100
                        </span>
                    </div>
                </div>

                <canvas class="my-4 w-100" id="RID" width="900" height="380"></canvas>
            </div>
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="display: none;" id="las">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Lasso Linear Regression Model</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" id="las0" class="btn btn-sm btn-outline-secondary" disabled
                                onclick="changeGraphVal(0,'LAS')">
                                <span data-feather="chevrons-left"></span>
                                Prev
                            </button>
                            <button type="button" id="las1" class="btn btn-sm btn-outline-secondary"
                                onclick="changeGraphVal(1,'LAS')">
                                <span data-feather="chevrons-right"></span>
                                Next
                            </button>
                        </div>
                        <span id="num6" class="btn btn-sm">
                            0
                            <span data-feather="arrow-right"></span>
                            100
                        </span>
                    </div>
                </div>

                <canvas class="my-4 w-100" id="LAS" width="900" height="380"></canvas>
            </div>
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5" id="Report" style="display: none;">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Report </h1>
                </div>
                <form class="form-floating">
                    <div class="row g-1 mb-3">
                        <div class="form-floating col-sm-10">
                            <input type="number" class="form-control" id="n" placeholder="Nitrogen" step="any" readonly>
                            <label for="Nitrogen">Nitrogen (mg/square feet)</label>
                        </div>
                    </div>
                    <div class="row g-1 mb-3">
                        <div class="form-floating col-sm-10">
                            <input type="number" class="form-control" id="p" placeholder="Phosphorus" step="any"
                                readonly>
                            <label for="Phosphorus">Phosphorus (mg/square feet)</label>
                        </div>
                    </div>

                    <div class="row g-1 mb-3">
                        <div class="form-floating col-sm-10">
                            <input type="number" class="form-control" id="k" placeholder="Pottasium" step="any"
                                readonly>
                            <label for="Pottasium">Pottasium (mg/square feet)</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3 col-sm-10">
                        <input type="number" class="form-control" id="r" placeholder="Rainfall" step="any" readonly>
                        <label for="Rainfall">Avg. Rainfall</label>
                    </div>

                    <div class="row g-1 mb-3">
                        <div class="form-floating col-sm-10">
                            <input type="number" class="form-control" id="a" placeholder="Area" step="any" readonly>
                            <label for="Area">Area</label>
                        </div>
                    </div>

                    <div class="row g-1 mb-3">
                        <div class="form-floating col-sm-10">
                            <input type="number" class="form-control" id="Pred" placeholder="Predicted Yield" step="any"
                                readonly>
                            <label for="Area">Predicted Yield</label>
                        </div>
                    </div>

                    <button class="btn btn-outline-danger" type="button" id="delete"
                        onclick="clearTheForm();">Delete</button>

                </form>
            </div>
        </div>
        <div class="offcanvas offcanvas-bottom" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Predicted Yield</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body"
                style="text-align: center; text-transform: capitalize; font-size: large; overflow: hidden;">
                <p id="predictedValue" style="overflow: hidden;">Try scrolling the rest of the page to see this option
                    in action.</p>
            </div>
            <div class="offcanvas-foot" style="text-align: right; margin:25px;">
                <button class="btn btn-outline-success" onclick="saveReport();">Save Report</button>
            </div>
        </div>

    </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>



    <script>

        generateGraph = (t, dat, id, start = 0, end = 100) => {
            feather.replace()

            var ctx = document.getElementById(id)
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: t.slice(start, end),
                    datasets: [{
                        data: dat.slice(start, end),
                        label: "Predicted",
                        borderColor: "rgb(62,149,205)",
                        backgroundColor: "rgb(62,149,205,0.1)",
                    }, {
                        data: t.slice(start, end),
                        type: "scatter",
                        label: "Accurate",
                        borderColor: "rgb(196,88,80)",
                        backgroundColor: "rgb(196,88,80,0.1)",
                        borderWidth: 2,
                    }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    },
                    legend: {
                        display: true
                    }
                }
            });
            return myChart;
        }

        var t = "{{ test }}".split(",");
        var svr = "{{ svr }}".split(",");
        var rf = "{{ rf }}".split(",");
        var dtr = "{{ dtr }}".split(",");
        var mlr = "{{ mlr }}".split(",");
        var las = "{{ las }}".split(",");
        var rid = "{{ rid }}".split(",");



        var object = {
            nitrogen: document.getElementById("Nitrogen"),
            phosporus: document.getElementById("Phosphorus"),
            pottasium: document.getElementById('Pottasium'),
            rainfall: document.getElementById('Rainfall'),
            area: document.getElementById('Area'),
            myOffcanvas: document.getElementById('offcanvasWithBothOptions'),
            pred: document.getElementById('pred'),
            Predict: $("#Predict"),
            toast: document.getElementById("toast"),
            area: document.getElementById('A'),
            Area: document.getElementById('Area'),
            firstDiv: $("#fill"),
            secDiv: $("#svr"),
            predicted: $("#predictedValue"),
            svrStart: 0,
            svrEnd: 100,
            rfStart: 0,
            rfEnd: 100,
            dtrStart: 0,
            dtrEnd: 100,
            mlrStart: 0,
            mlrEnd: 100,
            ridStart: 0,
            ridEnd: 100,
            lasStart: 0,
            lasEnd: 100,
            svr0: $('#svr0'),
            svr1: $('#svr1'),
            rf0: $('#rf0'),
            rf1: $('#rf1'),
            dtr0: $('#dtr0'),
            dtr1: $('#dtr1'),
            mlr0: $("#mlr0"),
            mlr1: $("#mlr1"),
            rid0: $("#rid0"),
            rid1: $("#rid1"),
            las0: $("#las0"),
            las1: $("#las1"),
            svr: generateGraph(t, svr, 'SVR'),
            rf: generateGraph(t, rf, 'RF'),
            dtr: generateGraph(t, dtr, 'DTR'),
            mlr: generateGraph(t, mlr, 'MLR'),
            rid: generateGraph(t, rid, "RID"),
            las: generateGraph(t, las, "LAS"),
            svrNum: $("#num1"),
            dtrNum: $("#num2"),
            rfNum: $("#num3"),
            mlrNum: $("#num4"),
            ridNum: $("#num5"),
            lasNum: $("#num6"),
            predictedValue: 0,
            reportS: document.getElementById('reports'),
            toastBody: $("#ToastBody"),
            reportDiv: $("#Report"),
            reportN: $("#n"),
            reportP: $("#p"),
            reportK: $("#k"),
            reportRain: $("#r"),
            reportArea: $("#a"),
            reportPred: $("#Pred"),
        }

        checkString = (str) => {
            return (str === "" || str === " ");
        }

        disableWhateverYouWant = () => {
            if (object.rfStart >= 100) object.rf0.attr("disabled", false);
            if (object.rfEnd >= 2554) object.rf1.attr("disabled", true);
            if (object.svrStart >= 100) object.svr0.attr("disabled", false);
            if (object.svrEnd >= 2554) object.svr1.attr("disabled", true);
            if (object.dtrStart >= 100) object.dtr0.attr("disabled", false);
            if (object.dtrEnd >= 2554) object.dtr1.attr("disabled", true);
            if (object.mlrStart >= 100) object.mlr0.attr("disabled", false);
            if (object.mlrEnd >= 2554) object.mlr1.attr("disabled", true);
            if (object.ridStart >= 100) object.rid0.attr("disabled", false);
            if (object.ridEnd >= 2554) object.rid1.attr("disabled", true);
            if (object.lasStart >= 100) object.las0.attr("disabled", false);
            if (object.lasEnd >= 2554) object.las1.attr("disabled", true);
            if (object.rfStart <= 0) object.rf0.attr("disabled", true);
            if (object.rfEnd <= 2500) object.rf1.attr("disabled", false);
            if (object.svrStart <= 0) object.svr0.attr("disabled", true);
            if (object.svrEnd <= 2500) object.svr1.attr("disabled", false);
            if (object.dtrStart <= 0) object.dtr0.attr("disabled", true);
            if (object.dtrEnd <= 2500) object.dtr1.attr("disabled", false);
            if (object.mlrStart <= 0) object.mlr0.attr("disabled", true);
            if (object.mlrEnd <= 2500) object.mlr1.attr("disabled", false);
            if (object.ridStart <= 0) object.rid0.attr("disabled", true);
            if (object.ridEnd <= 2500) object.rid1.attr("disabled", false);
            if (object.lasStart <= 0) object.las0.attr("disabled", true);
            if (object.lasEnd <= 2500) object.las1.attr("disabled", false);
        }

        clearTheForm = () => {
            object.Predict.trigger("reset");
        }


        changeGraphVal = (which, id) => {
            if (which === 1) {
                switch (id) {
                    case "RF": {
                        object.rfStart += 100;
                        object.rfEnd += 100;
                        object.rf.data.datasets[0].data = rf.slice(object.rfStart, object.rfEnd);
                        object.rf.data.datasets[1].data = t.slice(object.rfStart, object.rfEnd);
                        object.rf.update();
                        object.rfNum.html(`
                            ${object.rfStart}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            ${object.rfEnd}`
                        )
                        break
                    }
                    case "SVR": {
                        object.svrStart += 100;
                        object.svrEnd += 100;
                        object.svr.data.datasets[0].data = svr.slice(object.svrStart, object.svrEnd);
                        object.svr.data.datasets[1].data = t.slice(object.svrStart, object.svrEnd);
                        object.svr.update();
                        object.svrNum.html(`
                            ${object.svrStart}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            ${object.svrEnd}`
                        )
                        break

                    }
                    case "DTR": {
                        object.dtrStart += 100;
                        object.dtrEnd += 100;
                        object.dtr.data.datasets[0].data = dtr.slice(object.dtrStart, object.dtrEnd);
                        object.dtr.data.datasets[1].data = t.slice(object.dtrStart, object.dtrEnd);
                        object.dtr.update();
                        object.dtrNum.html(`
                            ${object.dtrStart}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            ${object.dtrEnd}`
                        )
                        break
                    }
                    case "MLR": {
                        object.mlrStart += 100;
                        object.mlrEnd += 100;
                        object.mlr.data.datasets[0].data = mlr.slice(object.mlrStart, object.mlrEnd);
                        object.mlr.data.datasets[1].data = t.slice(object.mlrStart, object.mlrEnd);
                        object.mlr.update();
                        object.mlrNum.html(`
                            ${object.mlrStart}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            ${object.mlrEnd}`
                        )
                        break
                    }
                    case "RID": {
                        object.ridStart += 100;
                        object.ridEnd += 100;
                        object.rid.data.datasets[0].data = rid.slice(object.ridStart, object.ridEnd);
                        object.rid.data.datasets[1].data = t.slice(object.ridStart, object.ridEnd);
                        object.rid.update();
                        object.ridNum.html(`
                            ${object.ridStart}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            ${object.ridEnd}`
                        )
                        break
                    }
                    case "LAS": {
                        object.lasStart += 100;
                        object.lasEnd += 100;
                        object.las.data.datasets[0].data = las.slice(object.lasStart, object.lasEnd);
                        object.las.data.datasets[1].data = t.slice(object.lasStart, object.lasEnd);
                        object.las.update();
                        object.lasNum.html(`
                            ${object.lasStart}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            ${object.lasEnd}`
                        )
                        break
                    }
                }
            } else {
                switch (id) {
                    case "RF": {
                        object.rfStart -= 100;
                        object.rfEnd -= 100;
                        object.rf.data.datasets[0].data = rf.slice(object.rfStart, object.rfEnd);
                        object.rf.data.datasets[1].data = t.slice(object.rfStart, object.rfEnd);
                        object.rf.update();
                        object.rfNum.html(`
                            ${object.rfStart}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            ${object.rfEnd}`
                        )

                        break
                    }
                    case "SVR": {
                        object.svrStart -= 100;
                        object.svrEnd -= 100;
                        object.svr.data.datasets[0].data = svr.slice(object.svrStart, object.svrEnd);
                        object.svr.data.datasets[1].data = t.slice(object.svrStart, object.svrEnd);
                        object.svr.update();
                        object.svrNum.html(`
                            ${object.svrStart}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            ${object.svrEnd}`
                        )
                        break
                    }
                    case "DTR": {
                        object.dtrStart -= 100;
                        object.dtrEnd -= 100;
                        object.dtr.data.datasets[0].data = dtr.slice(object.dtrStart, object.dtrEnd);
                        object.dtr.data.datasets[1].data = t.slice(object.dtrStart, object.dtrEnd);
                        object.dtr.update();
                        object.dtrNum.html(`
                            ${object.dtrStart}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            ${object.dtrEnd}`
                        )
                        break
                    }
                    case "MLR": {
                        object.mlrStart -= 100;
                        object.mlrEnd -= 100;
                        object.mlr.data.datasets[0].data = mlr.slice(object.mlrStart, object.mlrEnd);
                        object.mlr.data.datasets[1].data = t.slice(object.mlrStart, object.mlrEnd);
                        object.mlr.update();
                        object.mlrNum.html(`
                            ${object.mlrStart}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            ${object.mlrEnd}`
                        )
                        break
                    }
                    case "RID": {
                        object.ridStart -= 100;
                        object.ridEnd -= 100;
                        object.rid.data.datasets[0].data = rid.slice(object.ridStart, object.ridEnd);
                        object.rid.data.datasets[1].data = t.slice(object.ridStart, object.ridEnd);
                        object.rid.update();
                        object.ridNum.html(`
                            ${object.ridStart}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            ${object.ridEnd}`
                        )
                        break
                    }
                    case "LAS": {
                        object.lasStart -= 100;
                        object.lasEnd -= 100;
                        object.las.data.datasets[0].data = las.slice(object.lasStart, object.lasEnd);
                        object.las.data.datasets[1].data = t.slice(object.lasStart, object.lasEnd);
                        object.las.update();
                        object.lasNum.html(`
                            ${object.lasStart}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            ${object.lasEnd}`
                        )
                        break
                    }
                }
            }
            disableWhateverYouWant();

        }

        convertMgPerSqFt = (va) => {
            return (va * 107639) / 1000000
        }

        convertArea = (unit, area) => {
            if (unit === "acre") {
                area /= 2.471;
            }
            else if (unit === "cent") {
                area /= 247.1;
            }
            else if (unit === "square feet") {
                area /= 107639;
            }
            return area;
        }


        object.Predict.submit((event) => {
            event.preventDefault();
            if (checkString(object.nitrogen.value) || checkString(object.phosporus.value) || checkString(object.pottasium.value) || checkString(object.rainfall.value) || checkString(object.Area.value)) {
                var toast = new bootstrap.Toast(object.toast);
                toast.show();
                return;
            }
            var unit = object.area.value, area = object.Area.value;
            area = convertArea(unit, area);
            var obj = { 'n': parseFloat(object.nitrogen.value), 'p': parseFloat(object.phosporus.value), 'k': parseFloat(object.pottasium.value), 'rain': parseFloat(object.rainfall.value) }
            obj['n'] = convertMgPerSqFt(obj['n']) * area;
            obj['p'] = convertMgPerSqFt(obj['p']) * area;
            obj['k'] = convertMgPerSqFt(obj['k']) * area;
            obj['csrfmiddlewaretoken'] = "{{ csrf_token }}";
            console.log(obj);
            $.ajax({
                'url': '/predict',
                'method': 'POST',
                'data': obj,
                'dataType': 'json',
                'success': (d) => {
                    object.predictedValue = d.val * area;
                    var string = `The total yield for ${area} ha ${d.val * area} Kg`;
                    object.predicted.html(string);
                    var bsOffcanvas = new bootstrap.Offcanvas(object.myOffcanvas);
                    bsOffcanvas.show();
                }

            })



        })
        saveReport = () => {
            var obj = { 'n': parseFloat(object.nitrogen.value), 'p': parseFloat(object.phosporus.value), 'k': parseFloat(object.pottasium.value), 'rain': parseFloat(object.rainfall.value), 'area': parseFloat(object.Area.value), 'pred': parseFloat(object.predictedValue) }
            obj['csrfmiddlewaretoken'] = "{{ csrf_token }}";
            console.log(obj);
            $.ajax({
                'url': '/save',
                'method': 'POST',
                'data': obj,
                'dataType': 'json',
                'success': (d) => {
                    if (d.name != '-1') {
                        var li = document.createElement('li');
                        li.className = "nav-item";
                        li.innerHTML = `
                        <a style="float: left;" id="report${d.name}" class="nav-link ReportList" href="#"
                                onclick="showReport(this);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                            Report ${d.name}
                            <span style="display: none;" data-n=${d.n} data-p=${d.p}
                                data-k=${d.k} data-rain=${d.rain} data-area=${d.area}
                                data-pred=${d.pred}></span>
                        </a>`;
                        object.reportS.appendChild(li);
                    }
                    else {
                        object.toastBody.html("Report Already Saved");
                        var toast = new bootstrap.Toast(object.toast);
                        toast.show();
                        object.toastBody.html("Please fill all the fields");
                    }
                }

            })
        }

        removeReportActiveClass = () => {
            document.querySelectorAll(".ReportList").forEach((ele) => {
                ele.classList.remove("active");
            })
        }


        showReport = (id) => {
            var dataEle = $(id.children[1])
            object.reportN.val(dataEle.data("n"));
            object.reportP.val(dataEle.data("p"));
            object.reportK.val(dataEle.data("k"));
            object.reportRain.val(dataEle.data("rain"));
            object.reportArea.val(dataEle.data("area"));
            object.reportPred.val(dataEle.data("pred"));
            object.reportDiv.css("display", "block");
            removeReportActiveClass();
            $("#fill").css("display", "none");
            $("#svr").css("display", "none");
            $("#rid").css("display", "none");
            $("#dtr").css("display", "none");
            $("#las").css("display", "none");
            $("#rf").css("display", "none");
            $("#mlr").css("display", "none");
            $("#1").removeClass("active");
            $("#2").removeClass("active");
            $("#3").removeClass("active");
            $("#5").removeClass("active");
            $("#7").removeClass("active");
            $("#6").removeClass("active");
            $("#4").removeClass("active");
            $(id)[0].classList.add("active");
        }

        changeToDiv = (ind) => {
            switch (ind) {
                case 1: {
                    $("#fill").css("display", "block");
                    $("#svr").css("display", "none");
                    $("#rid").css("display", "none");
                    $("#las").css("display", "none");
                    $("#dtr").css("display", "none");
                    $("#rf").css("display", "none");
                    $("#mlr").css("display", "none");
                    $("#2").removeClass("active");
                    $("#1").addClass("active");
                    $("#3").removeClass("active");
                    $("#7").removeClass("active");
                    $("#5").removeClass("active");
                    $("#6").removeClass("active");
                    $("#4").removeClass("active");
                    object.reportDiv.css("display", "none");
                    removeReportActiveClass();
                    break;
                }
                case 2: {
                    $("#fill").css("display", "none");
                    $("#svr").css("display", "block");
                    $("#rid").css("display", "none");
                    $("#dtr").css("display", "none");
                    $("#las").css("display", "none");
                    $("#rf").css("display", "none");
                    $("#mlr").css("display", "none");
                    $("#1").removeClass("active");
                    $("#2").addClass("active");
                    $("#3").removeClass("active");
                    $("#5").removeClass("active");
                    $("#7").removeClass("active");
                    object.reportDiv.css("display", "none");
                    $("#6").removeClass("active");
                    $("#4").removeClass("active");
                    removeReportActiveClass();
                    break;
                }
                case 3: {
                    $("#fill").css("display", "none");
                    $("#svr").css("display", "none");
                    $("#rf").css("display", "none");
                    $("#rid").css("display", "none");
                    $("#las").css("display", "none");
                    removeReportActiveClass();
                    object.reportDiv.css("display", "none");
                    $("#dtr").css("display", "block");
                    $("#mlr").css("display", "none");
                    $("#1").removeClass("active");
                    $("#3").addClass("active");
                    $("#2").removeClass("active");
                    $("#7").removeClass("active");
                    $("#5").removeClass("active");
                    $("#6").removeClass("active");
                    $("#4").removeClass("active");
                    break;
                }
                case 4: {
                    $("#fill").css("display", "none");
                    $("#svr").css("display", "none");
                    object.reportDiv.css("display", "none");
                    $("#dtr").css("display", "none");
                    $("#rid").css("display", "none");
                    $("#rf").css("display", "block");
                    $("#las").css("display", "none");
                    removeReportActiveClass();
                    $("#mlr").css("display", "none");
                    $("#1").removeClass("active");
                    $("#4").addClass("active");
                    $("#2").removeClass("active");
                    $("#3").removeClass("active");
                    $("#7").removeClass("active");
                    $("#6").removeClass("active");
                    $("#5").removeClass("active");
                    break;
                }
                case 5: {
                    $("#fill").css("display", "none");
                    $("#svr").css("display", "none");
                    $("#dtr").css("display", "none");
                    $("#rf").css("display", "none");
                    $("#rid").css("display", "none");
                    $("#las").css("display", "none");
                    removeReportActiveClass();
                    $("#mlr").css("display", "block");
                    object.reportDiv.css("display", "none");
                    $("#1").removeClass("active");
                    $("#5").addClass("active");
                    $("#2").removeClass("active");
                    $("#7").removeClass("active");
                    $("#3").removeClass("active");
                    $("#4").removeClass("active");
                    $("#6").removeClass("active");
                    break;
                }
                case 6: {
                    $("#fill").css("display", "none");
                    $("#svr").css("display", "none");
                    $("#dtr").css("display", "none");
                    removeReportActiveClass();
                    $("#rf").css("display", "none");
                    $("#mlr").css("display", "none");
                    object.reportDiv.css("display", "none");
                    $("#las").css("display", "none");
                    $("#rid").css("display", "block");
                    $("#1").removeClass("active");
                    $("#6").addClass("active");
                    $("#2").removeClass("active");
                    $("#5").removeClass("active");
                    $("#7").removeClass("active");
                    $("#3").removeClass("active");
                    $("#4").removeClass("active");
                    break;
                }
                case 7: {
                    $("#fill").css("display", "none");
                    $("#svr").css("display", "none");
                    $("#dtr").css("display", "none");
                    $("#rf").css("display", "none");
                    object.reportDiv.css("display", "none");
                    $("#mlr").css("display", "none");
                    removeReportActiveClass();
                    $("#rid").css("display", "none");
                    $("#las").css("display", "block");
                    $("#1").removeClass("active");
                    $("#6").removeClass("active");
                    $("#7").addClass("active");
                    $("#2").removeClass("active");
                    $("#5").removeClass("active");
                    $("#3").removeClass("active");
                    $("#4").removeClass("active");
                    break;
                }
                case 8: {
                    var obj = {};
                    obj['csrfmiddlewaretoken'] = "{{ csrf_token }}";
                    $.ajax({
                        'url': '/logout',
                        'method': 'POST',
                        'data': obj,
                        'dataType': 'json',
                        'success': (d) => {
                            if (d.response == "1") {
                                document.location.href = "/";
                            }
                        }
                    })
                    break;
                }
            }
        }
    </script>
</body>

</html>